- hs      = sinfo[:href].split('/')
- sname   = hs[5]
- version = oinfo[:version]
- link = sinfo[:href]
- if version && !version.empty?
  - link += "/#{version}"
- lyric_id  = "row_#{row_no}"
- lyric_id2 = "row_#{row_no}a"
- lyric_id3 = "row_#{row_no}b"
- perf_note = perf_info[sname] || {}
- vidinfos  = VideoInfo.new(perf_note[:ytvideo], perf_note[:vidkey])

%div(id=lyric_id2)
  .row.song_header
    .col-6
      %button.btn.btn-outline-primary(onclick="pe_playVideo(this)" role='button' data-lyric-id=lyric_id data-main-id=lyric_id2 data-vindex="-1" type='button' title='Show lyric')
        %i.fa.fa-music
        Lyric
      %button.btn.btn-outline-primary(onclick="pe_toggle_chord(this)" role='button' data-lyric-id=lyric_id type='button' role='button' title='Hide chords')
        %i.fa.fa-microphone
      - if vidinfos.videos.size > 0
        - voffset = videos.size;
        %button.btn.btn-outline-primary(onclick="pe_playVideo(this)" role='button' data-lyric-id=lyric_id data-main-id=lyric_id2 data-vindex=voffset type='button' title='Play intro music')
          %i.fa.fa-headphones
      %button.btn.btn-outline-secondary(onclick="pe_transpose(this, -1)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Transpose down 1/2 tone')
        %i.fa.fa-arrow-down
      %button.btn.btn-outline-secondary(onclick="pe_transpose(this, 1)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Transpose up 1/2 tone')
        %i.fa.fa-arrow-up
      %button.btn.btn-outline-secondary(onclick="pe_font(this, 0.85)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Font small')
        %i.fa.fa-search-minus
      %button.btn.btn-outline-secondary(onclick="pe_font(this, 1.2)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Font large')
        %i.fa.fa-search-plus
      %h5
        = "#{row_no}."
        %a(href=link target='hopamchuan')= sinfo[:name]
        - unless viewmode
          - url = "/reload-song/#{oinfo[:song_id]}"
          %a(href='#' onclick="jQuery.ajax('#{url}'); return false")
            %i.fa.fa-redo
      = "#{sinfo[:author]}&nbsp;"
    .col.md
      = sinfo[:artist]
    .col.md
      = (oinfo[:singer] || '').gsub(/\//, ', ')
      .pull-right= oinfo[:singer_key]
      - if oinfo[:lead]
        %br/
        = "(#{oinfo[:lead]})"
    .col.md
      - unless viewmode
        %a(href="/song-style/#{user}/#{sinfo[:song_id]}/#{sname}" target='song_edit')
          %i.fa.fa-edit
      = oinfo[:style]
      .pull-right= oinfo[:tempo]
  %div.collapse.pl_collapse(id=lyric_id)
    .row
      - vidinfos.select_set(oinfo[:solo_idx])
      - if vidinfos.yk_videos.size > 0
        .col-6
          .row
            - new_videos = vidinfos.videos
            - videos.concat(new_videos)
            - new_videos.each do |vinfo|
              - Plog.dump_info(title:oinfo[:title])
              %div.col-6(id="#{vinfo[:vid]}")
              - if vinfo[:key] && !vinfo[:key].empty?
                - offset = key_offset(vinfo[:key], oinfo[:singer_key], true)
                .pull-right.small
                  VKey: #{vinfo[:key]}
                  %br/
                  Trans: #{offset*(-1)}
                  %br/
                  - unless viewmode
                    - href = "/dl-transpose/#{vinfo[:video]}?song_id=#{oinfo[:song_id]}&title=#{oinfo[:title]}&offset=#{offset}&start=#{vinfo[:start]}&key=#{oinfo[:singer_key]}"
                    %a(href='#' onclick="jQuery.ajax('#{href}'); return false" title='Download transposed')
                      %i.fa.fa-download
                  - href = "https://www.youtube.com/watch?v=#{vinfo[:video]}"
                  %a(href=href target='youtube')
                    %i.fab.fa-youtube.fa-3x
      - unless perf_note.empty?
        .col-2
          = perf_note[:instrument]
        .col-4
          - intro = perf_note[:intro]
          - if intro && !intro.empty?
            - offset = key_offset(perf_note[:key], oinfo[:singer_key])
            - tlyric = ListHelper.transpose_lyric(intro, offset, tokey:oinfo[:singer_key], cclass:'chord_intro')
            = tlyric.gsub(/\n/, '<br>')
    .row
      .col
        - locals = {sinfo:sinfo, singer_key:oinfo[:singer_key]}
        .lyric(id="#{lyric_id3}")= partial(:_lyric, locals:locals)
