- hs      = sinfo[:href].split('/')
- sname   = hs[5]
- version = oinfo[:version]
- link    = sinfo[:href]
- no_note = params[:no_note]
- if version && !version.empty?
  - link += "/#{version}"
- lyric_id  = "row_#{row_no}"
- lyric_id2 = "row_#{row_no}a"
- lyric_id3 = "row_#{row_no}b"
- note_id   = "row_#{row_no}c"
- perf_note = perf_info[sname] || {}
- if params[:karaoke]
  - svideos = perf_note[:ytkvideo]
  - svideos = perf_note[:ytvideo] if (!svideos || svideos.empty?)
  - skeys   = perf_note[:ytkkey]
  - skeys   = perf_note[:vidkey] if (!skeys || skeys.empty?)
  - vidinfos = VideoInfo.new(svideos, skeys)
- else
  - vidinfos  = VideoInfo.new(perf_note[:ytvideo], perf_note[:vidkey])
%div(id=lyric_id2)
  .row.song_header
    .col-6
      %button.btn.btn-sm.btn-outline-primary(onclick="pe_playVideo(this)" role='button' data-lyric-id=lyric_id data-main-id=lyric_id2 data-vindex="-1" type='button' title='Show lyric')
        %i.fa.fa-music
        Lyric
      %button.btn.btn-sm.btn-outline-primary(onclick="pe_toggle_chord(this)" role='button' data-lyric-id=lyric_id data-note-id=note_id type='button' data-toggle="button" role='button' title='Hide chords')
        %i.fa.fa-microphone
      - if vidinfos.videos.size > 0
        - voffset = videos.size;
        %button.btn.btn-sm.btn-outline-primary(onclick="pe_playVideo(this)" role='button' data-lyric-id=lyric_id data-main-id=lyric_id2 data-vindex=voffset type='button' title='Play intro music')
          %i.fa.fa-headphones.fa-fw
      - else
        %button.btn.btn-sm.btn-outline-primary(disabled=true)
          %i.fa.fa-headphone.fa-fw
      %button.btn.btn-sm.btn-outline-secondary(onclick="pe_transpose(this, -1)" role="button" data-lyric-id=lyric_id title='Transpose down 1/2 tone')
        %i.fa.fa-arrow-down
      %button.btn.btn-sm.btn-outline-secondary(onclick="pe_transpose(this, 1)" role="button" data-lyric-id=lyric_id title='Transpose up 1/2 tone')
        %i.fa.fa-arrow-up
      %button.btn.btn-sm.btn-outline-secondary(onclick="pe_font(this, 0.85)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Font small')
        %i.fa.fa-search-minus
      %button.btn.btn-sm.btn-outline-secondary(onclick="pe_font(this, 1.2)" role="button" data-lyric-id=lyric_id data-toggle="tooltip" title='Font large')
        %i.fa.fa-search-plus
      %h5
        = "#{row_no}."
        %a(href=link target='hopamchuan')= sinfo[:name]
        - unless viewmode
          - url = "/reload-song/#{oinfo[:song_id]}"
          %a(href='#' onclick="jQuery.ajax('#{url}'); return false")
            %i.fa.fa-redo
      %small.text-muted= "#{sinfo[:author]}&nbsp;"
    .col.md
      %small.text-muted= sinfo[:artist]
    .col.md
      = (oinfo[:singer] || '').gsub(/\//, ', ').split('-').map{|w| w.capitalize}.join(' ')
      .pull-right= oinfo[:singer_key]
    .col.md
      .small.text-muted.float-right= "#{oinfo[:style]} [#{oinfo[:tempo]} bpm]"
      - unless viewmode
        %a(href="/song-style/#{user}/#{sinfo[:song_id]}/#{sname}" target='song_edit')
          %i.fa.fa-edit
      - unless (oinfo[:lead] || '').empty?
        %br/
        .small.float-right.text-muted= "Lead: #{oinfo[:lead]}"
  %div.collapse.pl_collapse(id=lyric_id)
    - unless no_note
      .row(id=note_id)
        - solo_idx = params[:karaoke] ? '0' : oinfo[:solo_idx]
        - vidinfos.select_set(solo_idx)
        - if vidinfos.videos.size > 0
          .col-6
            .row
              - new_videos = vidinfos.videos
              - videos.concat(new_videos)
              - new_videos.each do |vinfo|
                %div.col-6.embed-responsive(id="#{vinfo[:vid]}")
                - if vinfo[:key] && !vinfo[:key].empty?
                  - offset = key_offset(vinfo[:key], oinfo[:singer_key], closer:true)
                  .pull-right.small
                    VKey: #{vinfo[:key]}
                    %br/
                    Trans: #{offset*(-1)}
                    %br/
                    - unless viewmode
                      - href = "/dl-transpose/#{vinfo[:video]}?song_id=#{oinfo[:song_id]}&title=#{oinfo[:title]}&offset=#{offset}&start=#{vinfo[:start]}&key=#{oinfo[:singer_key]}"
                      %a(href='#' onclick="jQuery.ajax('#{href}'); return false" title='Download transposed')
                        %i.fa.fa-download
                    - href = "https://www.youtube.com/watch?v=#{vinfo[:video]}"
                    %a(href=href target='youtube')
                      %i.fab.fa-youtube.fa-3x
        - unless perf_note.empty?
          .col-2
            = perf_note[:instrument]
          .col-4
            - intro = perf_note[:intro]
            - if intro && !intro.empty?
              - offset = key_offset(perf_note[:key], oinfo[:singer_key])
              - tlyric = ListHelper.transpose_lyric(intro, offset, tokey:oinfo[:singer_key], cclass:'chord_intro')
              = tlyric.gsub(/\n/, '<br>')
    .row
      .col
        - locals = {sinfo:sinfo, singer_key:oinfo[:singer_key]}
        .lyric(id="#{lyric_id3}")= partial(:_lyric, locals:locals)
