.row
  .col-md-9
    %h2
      List:
      %a(href="/playorder/#{list_info[:id]}" target='list_edit')
        %i.fa.fa-edit
      - link = "https://test.hopamchuan.com/playlist/v/#{list_info[:id]}/#{list_info[:title]}"
      %a(href=link target='hopamchuan')= "#{list_info[:title]}"
      = "(#{list_info['username']})"
  .col-md-3
    %form
      %select.form-control(name="listno" onchange="this.form.submit()")
        - playlists.each do |plinfo|
          - selected = params[:listno].to_i == plinfo[:id]
          %option{value:"#{plinfo[:id]}", selected:selected}= "#{plinfo[:title][0..39]} [#{plinfo[:_total_song_count]}]"

%table.table.table-condensed.table-bordered.table-striped
  %thead
    %tr
      %th ID
      %th Song Name
      %th Poster
      %th Singer
      %th Style
  %tbody
    - song_list.each do |sinfo|
      - oinfo   = order_list[sinfo[:song_id]] || {}
      - sname   = sinfo[:song_ascii].gsub(/ /, '-')
      - version = sinfo[:username]
      - if version && !version.empty?
        - link = "https://test.hopamchuan.com/song/#{sinfo[:song_id]}/#{sname}/#{version}"
      - else
        - link = "https://test.hopamchuan.com/song/#{sinfo[:song_id]}/#{sname}"
      %tr
        %td= sinfo[:song_id]
        %td
          .pull-right= sinfo[:song_key]
          %h4
            %a(href=link target='hopamchuan')= sinfo[:song_name]
          - if aset = artist_set[sinfo[:song_id]]
            - aset.each do |r|
              - if link = r[:link]
                %a(href=link target='playsong')= "#{r[:artist]} (#{r[:key]})"
              - else
                = "#{r[:artist]} (#{r[:key]})"
        %td= sinfo[:username] || sinfo[:main_user]
        %td
          = oinfo[:singer]
          .pull-right= oinfo[:singer_key]
        %td
          = oinfo[:style]
          .pull-right= oinfo[:tempo]
      %tr
        %td
        %td(colspan=3)
          - lyric = sinfo[:lyric].gsub(/\n/, '<br>')
          %pre
            - offset = key_offset(sinfo[:song_key], oinfo[:singer_key])
            = ListHelper.transpose_lyric(lyric, offset, tokey:oinfo[:singer_key])
        %td
          %a(href="/fragment_upload/#{list_info['username']}/#{sinfo[:song_id]}/#{sname}" target='upload' title='Upload music fragment')
            %i.fa.fa-upload
          - %w(intro p0 p1 solo out).each do |segment|
            - sfile = "audio/#{list_info['username']}/#{segment}-#{sname}.mp3"
            - next unless test(?f, sfile)
            %audio(controls loop)
              - spath = "/#{sfile}"
              %source(src=spath)
