:css
  @media (min-width: 1024px) {
    .lyric {
      line-height: 1.5;
      column-count: 2;
      text-align: center;
      font-size: 120%;
    }
  }
  .chord {
    color: #4aa;
    vertical-align: 20px;
    display: inline-block;
    font-weight: 400;
    font-size: 80%;
    max-width: 15px;
    cursor: pointer;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    border-width: 3px;
  }
  .simage {
    position: absolute;
    opacity:  0.3;
  }
  .perf-note {
    font-size: 120%;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    background-color: #ffe;
  }
  .song_header {
    margin-top: 1em;
    border-top: 6px solid #888;
    background-color: #ffe;
  }
  audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
  audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
  }

- viewmode = params[:viewmode] && !params[:viewmode].empty?
.row
  .col-md-9
    %h2
      List:
      - unless viewmode
        %a(href="/playorder/#{user}/#{list_info[:id]}" target='list_edit')
          %i.fa.fa-edit
      - link = "https://hopamchuan.com/playlist/v/#{list_info[:id]}"
      %a(href=link target='hopamchuan')= "#{list_info[:name]}"
  .col-md-3
    %form
      %input(type='hidden' name='viewmode' value=viewmode)
      - if viewmode
        - files = Dir.glob("playlist/*-program.html")
        %select.form-control#page_select(name="listno" onchange="load_page_from('page_select')")
          %option ---
          - files.each do |file|
            - bfile = File.basename(file).sub(/\.html$/, '')
            %option= bfile
      - else
        %select.form-control(name="listno" onchange="this.form.submit()")
          - playlists.sort_by{|r| r[:name]}.each do |plinfo|
            - selected = params[:listno].to_i == plinfo[:id]
            %option{value:"#{plinfo[:id]}", selected:selected}= "#{plinfo[:id]}. #{plinfo[:name][0..39]} [#{plinfo[:song_count]}]"

- if ptn = params[:ptn]
  - ptn = /#{ptn}/io
- videos   = []
- row_no   = 0
- song_list.each do |sinfo|
  - oinfo   = order_list[sinfo[:song_id]] || {}
  - hs      = sinfo[:href].split('/')
  - sname   = hs[5]
  - version = oinfo[:version]
  - link = sinfo[:href]
  - if version && !version.empty?
    - link += "/#{version}"
  - lyric_id = "row_#{row_no}"
  - if ptn
    - next unless "#{oinfo[:lead]}.#{oinfo[:singer]}" =~ ptn
  - row_no += 1
  .row.song_header
    .col-6
      %button.pull-right.btn.btn-primary(type='button' role='button' data-toggle='collapse' href="##{lyric_id}" aria-expanded='false' aria-controls=lyric_id)
        Lyric
      %h5
        = "#{row_no}."
        %a(href=link target='hopamchuan')= sinfo[:name]
      = "#{sinfo[:author]}&nbsp;"
    .col.md
      = sinfo[:artist]
    .col.md
      = oinfo[:singer]
      .pull-right= oinfo[:singer_key]
      - if oinfo[:lead]
        %br/
        = "(#{oinfo[:lead]})"
    .col.md
      - unless viewmode
        %a(href="/song-style/#{user}/#{sinfo[:song_id]}/#{sname}" target='song_edit')
          %i.fa.fa-edit
      = oinfo[:style]
      .pull-right= oinfo[:tempo]
  %div.collapse(id=lyric_id)
    .row
      - Plog.dump_info(sname:sname)
      - perf_note = perf_info[sname] || {}
      - if perf_note[:ytvideo] && !perf_note[:ytvideo].empty?
        - video, *ytoffset = perf_note[:ytvideo].split(',')
      - if video
        .col-6
          -# For youtube video #{sname}
          - ytoffset.each_slice(2) do |ytstart, ytend|
            - vid = "v_#{sname}_#{ytstart}"
            %div(id=vid)
            - videos << {vid:vid, video:video, start:ytstart.to_i, end:ytend.to_i}
          - if perf_note[:vidkey]
            - offset = key_offset(perf_note[:vidkey], oinfo[:singer_key])
            - if offset >= 5
              - offset -= 12
            -# Plog.dump_info(vidkey:perf_note[:vidkey], singer_key:oinfo[:singer_key])
            .pull-right
              Video Key: #{perf_note[:vidkey]}
              %br/
              Transpose: #{offset*(-1)}
      - unless perf_note.empty?
        .col-2
          = perf_note[:instrument]
        .col-4
          - intro = perf_note[:intro]
          - if intro
            - offset = key_offset(perf_note[:key], oinfo[:singer_key])
            - tlyric = ListHelper.transpose_lyric(intro, offset, tokey:oinfo[:singer_key], cclass:'chord_intro')
            = tlyric.gsub(/\n/, '<br>')
    .row
      .col
        - lyric  = sinfo[:lyric]
        - offset = key_offset(sinfo[:song_key], oinfo[:singer_key])
        - lyric  = lyric.sub(/>>>>>.*$/mo, '').sub(/^.*<<<<</mo, '')
        - tlyric = ListHelper.transpose_lyric(lyric, offset, tokey:oinfo[:singer_key])
        - tlyric = tlyric.sub(/^.*==/m, '')
        .lyric= tlyric.gsub(/\s*\r/, '').gsub(/^---/, '<hr/>').gsub(/\n/, "<br/>\n")

-#= videos.inspect
- content_for :javascript do
  %script(src="https://www.youtube.com/iframe_api")
  :javascript
    $(document).ready(function() {
      $('.a-tooltip').tooltip({"html":true}); 
    });

    var videos     = #{videos.to_json};
    var cur_player = null;
    function onYouTubeIframeAPIReady() {
      for (var i = 0; i < videos.length; i++) {
        var cur_video = videos[i];
        var avideo    = cur_video['video'];
        var vid       = cur_video['vid'];
        var start = cur_video['start']; var end = cur_video['end'];
        var player    = new YT.Player(vid, {
          height: '140',
          width:  '210',
          playerVars: {autoplay:0, start:start, end:end},
          videoId: avideo,
          events: {
            'onStateChange': function(event){
              var mplayer = event.target
              if (event.data == 0) {
                mdata  = mplayer.b.b;
                start  = mdata['playerVars']['start'];
                console.log(mdata);
                console.log('Restarting ' + mdata['videoId'] + ' ' + start);
                mplayer.seekTo(start);
                cur_player = mplayer.playVideo();
              }
            }
          }
        });
      }
    }

    function load_page_from(sid) {
      var elem     = document.getElementById(sid);
      var selected = elem.options[elem.selectedIndex];
      console.log(selected.value);
      var new_path = '/playlist/' + selected.value + '.html';
      document.location.href = new_path;
    }
