:css
  @media (min-width: 1024px) {
    .lyric {
      line-height: 1.5;
      column-count: 2;
      text-align: center;
    }
  }
  .chord {
    color: #4aa;
    vertical-align: 15px;
    display: inline-block;
    font-weight: 400;
    max-width: 15px;
    cursor: pointer;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    border-width: 3px;
  }
  .simage {
    position: absolute;
    opacity:  0.3;
  }

.row
  .col-md-9
    %h2
      List:
      %a(href="/playorder/#{list_info[:id]}" target='list_edit')
        %i.fa.fa-edit
      - link = "https://test.hopamchuan.com/playlist/v/#{list_info[:id]}/#{list_info[:title]}"
      %a(href=link target='hopamchuan')= "#{list_info[:title]}"
      = "(#{list_info['username']})"
  .col-md-3
    %form
      %select.form-control(name="listno" onchange="this.form.submit()")
        - playlists.each do |plinfo|
          - selected = params[:listno].to_i == plinfo[:id]
          %option{value:"#{plinfo[:id]}", selected:selected}= "#{plinfo[:title][0..39]} [#{plinfo[:_total_song_count]}]"

%table.table.table-condensed.table-bordered.table-striped
  %thead
    %tr
      %th Song Name
      %th Poster
      %th Singer
      %th Style
  %tbody
    - song_list.each do |sinfo|
      - oinfo   = order_list[sinfo[:song_id]] || {}
      - sname   = sinfo[:song_ascii].gsub(/ /, '-')
      - version = sinfo[:username]
      - if version && !version.empty?
        - link = "https://test.hopamchuan.com/song/#{sinfo[:song_id]}/#{sname}/#{version}"
      - else
        - link = "https://test.hopamchuan.com/song/#{sinfo[:song_id]}/#{sname}"
      %tr
        %td
          .pull-right= sinfo[:song_key]
          %h4
            %a(href=link target='hopamchuan')= sinfo[:song_name]
          - if aset = artist_set[sinfo[:song_id]]
            - aset.each do |r|
              - if link = r[:link]
                %a(href=link target='playsong')= "#{r[:artist]} (#{r[:key]})"
              - else
                = "#{r[:artist]} (#{r[:key]})"
        %td= sinfo[:username] || sinfo[:main_user]
        %td
          - singer = oinfo[:singer]
          = singer
          .pull-right= oinfo[:singer_key]
        %td
          %a(href="/song-style/#{user}/#{list_info[:id]}/#{sname}" target='song_edit')
            %i.fa.fa-edit
          = oinfo[:style]
          .pull-right= oinfo[:tempo]
      %tr
        %td(colspan=3)
          - if sprofile = singer_profiles[singer]
            %img.simage(src="http://graph.facebook.com/#{sprofile[:fbid]}/picture?type=normal")
          - lyric = sinfo[:lyric]
          - offset = key_offset(sinfo[:song_key], oinfo[:singer_key])
          - tlyric = ListHelper.transpose_lyric(lyric, offset, tokey:oinfo[:singer_key])
          - tlyric = tlyric.sub(/^.*==/m, '')
          .lyric= tlyric.gsub(/\s*\r/, '').gsub(/^---/, '<hr/>').gsub(/\n/, "<br/>\n")
        %td(width="20%")
          - if perf_note = perf_info[sname]
            %p= perf_note[:instrument].join(', ')
            %p
              - intro = perf_note[:intro]
              - if intro
                - offset = key_offset(perf_note[:key], oinfo[:singer_key])
                = tlyric = ListHelper.transpose_lyric(intro, offset, tokey:oinfo[:singer_key])

          %hr/
          %a(href="/fragment_upload/#{list_info['username']}/#{sinfo[:song_id]}/#{sname}" target='upload' title='Upload music fragment')
            %i.fa.fa-upload
          - %w(intro p0 p1 solo out).each do |segment|
            - sfile = "audio/#{list_info['username']}/#{segment}-#{sname}.mp3"
            - next unless test(?f, sfile)
            %audio(controls loop)
              - spath = "/#{sfile}"
              %source(src=spath)
