:css
  @media (min-width: 1024px) {
    .lyric {
      line-height: 1.5;
      column-count: 2;
      text-align: center;
      font-size: 120%;
    }
    .lyric2 {
      line-height: 1.5;
      column-count: 2;
      text-align: left;
      font-size: 140%;
    }
  }
  .chord-old {
    color: #4aa;
    vertical-align: 20px;
    display: inline-block;
    font-weight: 400;
    font-size: 80%;
    max-width: 15px;
    cursor: pointer;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  }
  .chord {
    color: #6cc;
    vertical-align: 10px;
    //display: inline-block;
    font-weight: 400;
    font-size: 80%;
    background-color: #ffc;
    //max-width: 15px;
    cursor: pointer;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
  }
  .chord:before {
    content:"[";
  }
  .chord:after {
    content:"] ";
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
    border-width: 3px;
  }
  .simage {
    position: absolute;
    opacity:  0.3;
  }
  .perf-note {
    font-size: 120%;
    font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;
    background-color: #ffe;
  }
  .song_header {
    margin-top: 1em;
    border-top: 6px solid #888;
    background-color: #ffe;
  }
  .lightshow {
    color: yellow;
  }
  .lightshow:hover {
    color: red;
  }
  audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
  audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
  }
  .perflist-note {
    background-color: #cff;
  }

- viewmode = params[:viewmode] && !params[:viewmode].empty?
.perflist-note= note
.row
  .col-md-9
    %h2
      - if playlists
        - list_info ||= {}
        List:
        - if !viewmode
          %a(href="/playorder/#{user}/#{list_info[:id]}" target='list_edit')
            %i.fa.fa-edit
        - link = "https://hopamchuan.com/playlist/v/#{list_info[:id]}"
        %a(href=link target='hopamchuan')= "#{list_info[:name]}"
  .col-md-3
    %form
      %input(type='hidden' name='viewmode' value=viewmode)
      - if viewmode
        - files = Dir.glob("playlist/*-program.html")
        %select.form-control#page_select(name="listno" onchange="load_page_from('page_select')")
          %option ---
          - files.sort.each do |file|
            - bfile = File.basename(file).sub(/\.html$/, '')
            %option(value=bfile)= bfile.sub(/-program$/, '')
      - elsif playlists
        %select.form-control(name="listno" onchange="this.form.submit()")
          - playlists.sort_by{|r| r[:name]}.each do |plinfo|
            - selected = params[:listno].to_i == plinfo[:id].to_i
            %option{value:"#{plinfo[:id]}", selected:selected}= "#{plinfo[:name][0..39]} [#{plinfo[:song_count]}]"
      - elsif singer_lists
        %select.form-control(name="listno" onchange="this.form.submit()")
          - singer_lists.sort_by{|r| r[:name]}.each do |plinfo|
            - selected = params[:singer] == plinfo[:name]
            %option{value:"#{plinfo[:name]}", selected:selected}= "#{plinfo[:name]}"

- if ptn = params[:ptn]
  - ptn = /#{ptn}/io
- videos   = []
- row_no   = 0
- if params[:sort].to_i > 0
  - song_list = song_list.sort_by{|s| s[:href].split('/')[5]}
- if (limit = params[:limit].to_i) > 0
  - song_list = song_list[0..limit-1]

%button.btn.btn-secondary.btn-lg(onclick='stopAllExcept()') Stop Music
%button.btn.btn-secondary.btn-lg(onclick='pe_collapse(this)' data-show="si_collapse") All
- singers.select{|s| !s.empty?}.each do |asinger|
  - sclass = "s_#{asinger.gsub(/[^a-z]/i, '')}"
  %button.btn.btn-outline-secondary.btn-sm(onclick='pe_collapse(this)' data-show="#{sclass}")
    %i.fa.fa-microphone
    = asinger
- leads.select{|s| !s.empty?}.each do |asinger|
  - lclass = "l_#{asinger.gsub(/[^a-z]/i, '')}"
  %button.btn.btn-primary.btn-sm(onclick='pe_collapse(this)' data-show="#{lclass}")
    %i.fa.fa-music
    = asinger

- song_list.each do |sinfo|
  - oinfo   = order_list[sinfo[:song_id]] || {}
  - next if !oinfo[:active] || (oinfo[:singer] || "").start_with?('-')
  - if ptn
    - next unless "#{oinfo[:lead]}.#{oinfo[:singer]}" =~ ptn
  - row_no += 1
  - singer = oinfo[:singer] || 'none'
  - lead   = oinfo[:lead] || 'none'
  - sclass = "s_#{singer.gsub(/[^a-z]/i, '')}"
  - lclass = "l_#{lead.gsub(/[^a-z]/i, '')}"
  -# Plog.dump_info(sclass:sclass, singer:singer, oinfo:oinfo)
  - locals = {sinfo:sinfo, oinfo:oinfo, perf_info:perf_info, row_no:row_no, viewmode:viewmode, user:user, videos:videos}
  %div(class="#{sclass} #{lclass} si_collapse")
    = partial :_perflist_song, locals:locals

- content_for :javascript do
  %script(src="https://www.youtube.com/iframe_api")
  %script(src="/js/youtube_play.js")
  :javascript
    $(document).ready(function() {
      $('.a-tooltip').tooltip({"html":true}); 
      $('.si_collapse').collapse();
      $('button').tooltip();
      $('.perflist-note').fadeOut(3000)
    });

    var videos     = #{videos.to_json};

    function pe_collapse(button) {
      var show_class = button.getAttribute("data-show");
      var hide_class = 'si_collapse';
      console.log('hide: ' + hide_class);
      $('.' + hide_class).collapse('hide');
      console.log('show: ' + show_class);
      $('.' + show_class).collapse('show');
    }

    function load_page_from(sid) {
      var elem     = document.getElementById(sid);
      var selected = elem.options[elem.selectedIndex];
      console.log(selected.value);
      var new_path = '/playlist/' + selected.value + '.html';
      document.location.href = new_path;
    }
    
