- list_info = play_order.playlist.fetch
%h2
  Performance Order List -
  - link = "https://hopamchuan.com/playlist/v/#{list_info[:id]}/#{list_info[:name]}"
  %a(href=link target='hopamchuan')= "#{list_info[:name]}"
  = "(#{list_info['username']})"

.row
  .col-md-8
    %form(action="/playorder" method="post")
      %input(type="hidden" name="list_id" value="#{list_info[:id]}")
      %label(for="slink") Playlist Order
      %textarea.form-control#slink(name="slink" rows=20)
        = play_order.content
      .pull-right
        %button.btn.btn-sm.btn-warning(type="submit" name="Reset" value=true onclick="return confirm('OK to reset the list to original? ')")  Reset
        %button.btn.btn-sm.btn-primary(type="submit" name="Update" value=true) Update
        %button.btn.btn-sm.btn-primary(type="submit" name="Refresh" value=true) Refresh
  .col-md-4
    %p
      Order the list on the left to your preference and enter details
      on each line using the following format
    %p
      song_id, title (ascii), version, singer, singer_key, style, tempo
