:css
  .intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) repeat-y center center;
  }

- StyleColor = {'bebop'=>'success', 'boston'=>'info', 'chachacha'=>'danger', 'newwave'=>'primary', 'rumba'=>'warning', 'rhumba'=>'warning', 'slow'=>'warning', 'tango'=>'success', 'techno'=>'danger', 'twist'=>'danger', 'waltz'=>'info'}

- plist.sort_by{|e| e[:href] ? e[:href].split('/')[5] : e[:name].downcase}.each_with_index do |sentry, index|
  -# next if !(sentry[:href] || sentry[:play_link])
  - next if sentry[:name] =~ /^Z_/
  .row
    .col-md-4
      - pstyle   = (sentry[:pstyle] || '').downcase
      - href = sentry[:href]
      -# href = "http://localhost:4567/lyric/" + CGI.escape(sentry[:href])
      %span.pull-right= sentry[:artist]
      %h4
        %a(href=href data-toggle="lightbox" data-type="url" data-width="1400" data-height="850")
          = "#{index+1}. #{sentry[:pname] || sentry[:name]}"
      %h5
        - btype  = StyleColor[pstyle] || 'secondary'
        - sclass = "small badge badge-#{btype}"
        %div(class=sclass)= sentry[:performer]
        %div(class=sclass)= sentry[:pstyle]
        %div(class=sclass)= sentry[:play_key]
      %p.text-muted= sentry[:preview]
    .col-md-6.intro-header
    .col-md-2
      %h5.pull-right
        %div(class=sclass)= sentry[:pstyle]
        %div(class=sclass)= sentry[:play_key]
        %div(class=sclass)= sentry[:performer]

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $(document).on('click', '[data-toggle="lightbox"]',
        function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
        });
    });
