:css
  .intro-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #000;
    background: url(../img/intro-bg.jpg) repeat-y center center;
  }
  .backup-song {
    background-color: #ddd;
  }
  .sname {
    color: #aaa;
    font-size: 60%;
  }
  .prow {
    border-bottom: 1px solid #888;
  }
  @media (min-width: 1024px) {
    .lyric {
      font-size: 80%;
      line-height: 2;
      column-count: 2;
      text-align: center;
    }
  }
  .chord {
    color: #220;
    background-color: #ddf;
    baseline-shift: super;
  }
  @media (max-width: 1024px) {
    .lyric {
      font-size: 80%;
      line-height: 2;
      column-count 1;
    }
  }

- StyleColor = {'bebop'=>'success', 'bolero'=>'warning', 'boston'=>'info', 'chacha'=>'danger', 'chachacha'=>'danger', 'fox'=>'success', 'newwave'=>'danger', 'pop'=>'success', 'rumba'=>'warning', 'rhumba'=>'warning', 'slow'=>'warning', 'tango'=>'success', 'techno'=>'danger', 'twist'=>'danger', 'waltz'=>'info'}

%a.a-tooltip(data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters") Filters
.collapse#filters
  .row
    .col-md-6
      %h4 Performers
      %form
        %input.small.perf_sel(type="checkbox" value="All" checked)
          %span.small All
        - performers.each_with_index do |aperf, index|
          %input.small.perf_sel(type="checkbox" value="perf_#{index}" checked)
            %span.small= aperf
    .col-md-6
      %h4 Styles
      %form
        %input.small.sty_sel(type="checkbox" value="All" checked)
          %span.small All
        - styles.each do |astyle|
          %input.small.sty_sel(type="checkbox" value="sty_#{astyle}" checked)
            %span.small= astyle

- index = 0
- ord_list.each_with_index do |asection, sec_no|
  - next unless asection['list']
  - sec_name  = "section_#{sec_no+1}"
  - csec_name = "csection_#{sec_no+1}"
  %h4
    %a(href="##{csec_name}")= asection['name']
    - asection['list'].each do |aname|
      - aname, asinger = aname.split(',')
      - sentry = song_store[aname]
      -# Plog.dump_info(sentry:sentry)
      - next unless sentry
      - index += 1
      - tags = sentry[:tags] || []
      - rowclass = tags.include?('backup') ? 'backup-song' : ''
      - next if (params[:publish] && tags.include?('private'))
      - tags     = sentry[:tags] || []
      - rowclass = tags.include?('backup') ? 'backup-song' : ''
      - (sentry[:singer] || "").force_encoding('UTF-8').split(/\s*,\s*/).each do |aperf|
        - rowclass += " perf_#{performers.index(aperf)}"
      - rowclass += " sty_#{(sentry[:style] || '').downcase}"
      %a(name="s#{index}")
      = partial(:_show_song, locals:{sentry:sentry, index:index})

- content_for :javascript do
  :javascript
    function send_patch(pstring, pkey, target) {
      jQuery.get("/send_patch/" + pstring + "?key=" + pkey, function(data) {
        $(target).html(data);
      });
      return false;
    };

    $(document).ready(function() {
      $('.a-tooltip').tooltip({"html":true}); 
      $('.sty_sel').change(function () {
        if (this.checked) {
          if (this.value == "All") {
            $('.prow').show();
            $('.sty_sel').prop('checked', true);
          } else {
            $('.' + this.value).show();
          }
        } else {
          if (this.value == "All") {
            $('.prow').hide();
            $('.sty_sel').prop('checked', false);
          } else {
            $('.' + this.value).hide();
          }
        }
        console.log(this);
      });
      $('.perf_sel').change(function () {
        if (this.checked) {
          if (this.value == "All") {
            $('.prow').show();
            $('.perf_sel').prop('checked', true);
          } else {
            $('.' + this.value).show();
          }
        } else {
          if (this.value == "All") {
            $('.prow').hide();
            $('.perf_sel').prop('checked', false);
          } else {
            $('.' + this.value).hide();
          }
        }
        console.log(this);
      });
    });
