:css
  .intro-header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #000;
    background: url(../img/intro-bg.jpg) repeat-y center center;
  }
  .backup-song {
    background-color: #ddd;
  }
  .sname {
    color: #aaa;
    font-size: 60%;
  }
  .prow {
    border-bottom: 1px solid #888;
  }

- StyleColor = {'bebop'=>'success', 'boston'=>'info', 'chachacha'=>'danger', 'newwave'=>'danger', 'rumba'=>'warning', 'rhumba'=>'warning', 'slow'=>'warning', 'tango'=>'success', 'techno'=>'danger', 'twist'=>'danger', 'waltz'=>'info'}

- sections = plist.select{|n,v| n =~ /^---/}.size + 1
%ul.list-inline
  - 1.upto(sections) do |sno|
    %li.list-inline-item
      %a(href="#section_#{sno}") Phần #{sno}

%a(name="section_1")
%h3
  %a(href="#top") Phần 1
%hr/
- index = 0; sno = 2
- plist.each do |aname, sentry|
  -# Plog.dump_info(aname:aname, sentry:sentry)
  - unless sentry
    - if aname =~/^--/
      %a(name="section_#{sno}")
      %h3
        %a(href="#top") Phần #{sno}
      - sno += 1
      %hr/
    - next
  - index += 1
  - rowclass = (sentry[:tags] || []).include?('backup') ? 'backup-song' : ''
  %a(name="s#{index}")
  %div(class="row prow #{rowclass}")
    .col-md-4
      - pname  = sentry[:pname] || sentry[:name]
      - pstyle = (sentry[:pstyle] || '').downcase
      - href   = sentry[:href]
      %span.sname.pull-right= sentry[:sname]
      %h4
        -#%a(href=href data-toggle="lightbox" data-type="url" data-width="1400" data-height="850")
        %a(href=href)
          = "#{index}. #{pname}"
      %h5
        - btype  = StyleColor[pstyle] || 'secondary'
        - sclass = "small badge badge-#{btype}"
        %div(class=sclass)= sentry[:performer]
        %div(class=sclass)= sentry[:pstyle]
        %div(class=sclass)= sentry[:play_key]
        - soundfile = nil
        - if sentry[:href]
          - sname = sentry[:href].split('/')[5]
          - soundfile = "#{sname}.mp3"
          - start, stop = 0, 90
        - if soundfile && test(?s, "audio/intro-#{soundfile}")
          .pull-right
      %p.small.text-muted= (sentry[:preview] || "")[0..100]
    - ptarget = "pad_#{index}"
    .col-md-4.intro-header(id=ptarget)
    .col-md-4
      %h5
        - if value = sentry[:sound]
          - pstring = value.to_s.gsub('/', '+')
          %a(class=sclass href='#' onclick="return send_patch('#{pstring}', '##{ptarget}')")= value
        .pull-right
          %div(class=sclass)= sentry[:pstyle]
          %div(class=sclass)= sentry[:play_key]
          %div(class=sclass)= sentry[:performer]

      .text-muted.small= (sentry[:perfnote] || '').gsub(/\n/, "<br/>")
      - if soundfile && test(?s, "audio/intro-#{soundfile}")
        - ['intro', 'solo'].each do |segment|
          - next unless test(?s, "audio/#{segment}-#{soundfile}")
          .pull-right
            = "#{segment.capitalize}[#{sentry[:skey]}]"
            %audio.pull-right(controls loop)
              %source(src="/audio/#{segment}-#{soundfile}" type="audio/mpeg")
            - if value = sentry[:play_link]
              %a(href=value target='play_link')
                %i.fa.fa-music

- content_for :javascript do
  :javascript
    function send_patch(pstring, target) {
      jQuery.get("/send_patch/" + pstring, function(data) {
        $(target).html(data);
      });
      return false;
    };

    $(document).ready(function() {
      $(document).on('click', '[data-toggle="lightbox"]',
        function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
        });
      $('[data-toggle="tooltip"]').tooltip({"html":true}); 
    });
