:css
  .savatar {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .uavatar {
    clip-path: circle(15px at center);
  }

.row
  .col-lg-8
    %table.cell-border.display#main_table
      %thead
        %tr
          %th Title
          %th Favs
          %th Record_By
          %th Listens
          %th Loves
          %th Since
          %th Updated
      %tbody
        - content.each do |arow|
          - avatar = arow[:avatar]
          - atitle = arow[:title].encode("UTF-8", invalid: :replace, undef: :replace, replace: '-')
          %tr
            %td.small
              - href = 'https://www.smule.com' + arow[:href]
              %img.savatar(src=avatar height=30 width=30)
              %a(href="/smulelist/#{user}?title=#{arow[:title]}")
                %i.fa.fa-search
              %a(href="/smremove/#{user}/#{arow[:sid]}")
                %i.fa.fa-trash
              %a(href=href target='smule')
                = arow[:title]
            %td.small(data-sort="#{arow[:isfav] ? 1 : 0}")
              - if arow[:isfav]
                %i.fa.fa-star.text-primary
              - else
                %i.fa.fa-star.invisible
            %td.small
              - arow[:record_by].sort.each do |singer|
                %a(href="/smulelist/#{user}?singer=#{singer}")
                  %i.fa.fa-search
                  %a(href="https://www.smule.com/#{singer}" target='smule')= singer[0..9]
                <br>
            %td.dt-right.small= arow[:listens]
            %td.dt-right.small= arow[:loves]
            %td.dt-right.small(data-sort="#{arow[:sincev]}")= arow[:since]
            %td.small= arow[:updated_at] ? arow[:updated_at].strftime('%Y-%m-%d') : nil

  .col-lg-4
    %table.cell-border.display#singer_table
      %thead
        %tr
          %th Record_By
          %th Count
          %th Listens
          %th Loves
      %tbody
        - singers.each do |singer, stats|
          %tr
            %td.small
              - if avatar = uavatars[singer]
                %a(href="https://www.smule.com/#{singer}" target='smule')
                  %img.uavatar(src=avatar height=30 width=30)
              - if follows[:followings].include?(singer)
                %i.fa.fa-heart
              - else
                %i.fa.fa-heart.invisible
              - if follows[:followers].include?(singer)
                %i.fa.fa-running
              - else
                %i.fa.fa-running.invisible
              - href = "/smulelist/#{user}?singer=#{singer}"
              %a(href=href)= singer
            %td.dt-right.small
              = stats[:count]
            %td.dt-right.small= stats[:listens]
            %td.dt-right.small= stats[:loves]

- content_for :javascript do
  :javascript
    $(function() {
      $('#main_table').DataTable({
        "order": [[ 5, "asc" ]],
        "pageLength": 100
      });
      $('#singer_table').DataTable({
        "order": [[ 1, "desc" ]],
        "pageLength": 100
      });
    });

