:css
  .savatar {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .uavatar {
    clip-path: circle(15px at center);
  }

- readonly = params[:readonly]
.row
  .col-lg-12
    %table.cell-border.display#main_table
      %thead
        %tr
          %th Title
          %th Record_By
          %th Tags
          %th Latest
          %th Listens
          %th Loves
      %tbody
        - scontent.keys.sort.each do |title|
          - slist = scontent[title]
          - arow   = slist[0]
          - avatar = arow[:avatar]
          - atitle = arow[:title].encode("UTF-8", invalid: :replace, undef: :replace, replace: '-')
          %tr
            - worklist = []
            %td.small
              - href = 'https://www.smule.com' + arow[:href]
              %img.savatar(src=avatar height=30 width=30)
              = arow[:title]
            %td.small
              - slist.each do |aperf|
                - rec_str = aperf[:record_by].split(',').find{|r| r != user}
                - next if !rec_str || rec_str.empty?
                - ofile = arow[:sfile] || arow[:ofile]
                - sinfo = all_singers.first(name:rec_str) || {}
                - Plog.dump_info(sinfo:sinfo)
                - worklist << [rec_str, aperf, ofile, sinfo]
              - worklist = worklist.sort_by{|w| w[1][:created]}.reverse
              - worklist.each do |rec_str, aperf, ofile, sinfo|
                %span.col-lg-3
                  - if avatar = sinfo[:avatar]
                    %a(href="https://www.smule.com/#{sinfo[:name]}" target='smule')
                      %img.uavatar(src=avatar height=30 width=30 title=rec_str)
                  - unless readonly
                    - if ofile
                      - lurl   = "/play-here?ofile=#{CGI.escape(ofile)}"
                      %a(href="#" id="#{arow[:sid]}" onclick="jQuery.ajax('#{lurl}'); return false;")
                        %i.fa.fa-play
                    - else
                      -# Plog.warn(title:arow[:title], ofile:ofile, sid:arow[:sid])
                      %i.fa.fa-play.invisible
                  - href = 'https://www.smule.com' + aperf[:href]
                  %a(href=href target='smule' title="#{aperf[:created].strftime('%Y-%m-%d')}")= rec_str[0..7]
            %td.small
              = (songtags.first(name:arow[:title]) || {})[:tags]
            %td.small
              - cdate = ((worklist[0] || [])[1] || {})[:created]
              - if cdate
                = cdate.strftime("%Y-%m-%d")
            %td.dt-right.small
              = slist.inject(0){|sum,x| sum + x[:listens] }
            %td.dt-right.small
              = slist.inject(0){|sum,x| sum + x[:loves] }

- content_for :javascript do
  :javascript
    $(function() {
      $('#main_table').dataTable({
        "columnDefs": [
          {"width": "35%", "targets": 0}
        ],
        "order": [[ 0, "asc" ]],
        "pageLength": 100
      });
    });
