:css
  .savatar {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .uavatar {
    clip-path: circle(15px at center);
  }

- cwidth = params[:nosinger] ? 12 : 8
.row
  %div(class="col-lg-#{cwidth}")
    %table.cell-border.display#main_table
      %thead
        %tr
          %th Title
          %th Favs
          %th Record_By
          %th Listens
          %th Loves
          %th Recorded
      %tbody
        - content.each do |arow|
          - avatar = arow[:avatar]
          - atitle = arow[:title].encode("UTF-8", invalid: :replace, undef: :replace, replace: '-')
          %tr
            %td.small
              - href = 'https://www.smule.com' + arow[:href]
              %img.savatar(src=avatar height=30 width=30)
              %a(href="/smulelist/#{user}?title=#{arow[:title]}")
                %i.fa.fa-search
              - url = "/smremove/#{user}/#{arow[:sid]}"
              %a(href="#" onclick="return smdelete('#{url}', '#{arow[:title]}')")
                %i.fa.fa-trash
              - ofile = arow[:sfile] || arow[:ofile]
              - if ofile
                - url   = "/play-here?ofile=#{CGI.escape(ofile)}"
                %a(href="#" id="#{arow[:sid]}" onclick="jQuery.ajax('#{url}'); return false;")
                  %i.fa.fa-play
              - else
                - Plog.warn(title:arow[:title], ofile:ofile, sid:arow[:sid])
                %i.fa.fa-play.invisible
              %a(href=href target='smule')
                = arow[:title]
            %td.small(data-sort="#{arow[:isfav] ? 2 : (arow[:oldfav] ? 1 : 0)}")
              - if arow[:isfav]
                %i.fa.fa-star.text-primary
              - elsif arow[:oldfav]
                %i.fa.fa-star.text-secondary
              - else
                %i.fa.fa-star.invisible
            %td.small
              - arow[:record_by].split(',').sort.each do |singer|
                %a(href="/smulelist/#{user}?singer=#{singer}")
                  %i.fa.fa-search
                  %a(href="https://www.smule.com/#{singer}" target='smule')= singer[0..9]
                <br>
            %td.dt-right.small= arow[:listens]
            %td.dt-right.small= arow[:loves]
            %td.small= arow[:created] ? arow[:created].strftime('%Y-%m-%d') : nil

  - unless params[:nosinger]
    .col-lg-4
      %table.cell-border.display#singer_table
        %thead
          %tr
            %th Record With
            %th Count
            %th Listens
            %th Loves
        %tbody
          - singers.each do |stats|
            - singer = stats[:name]
            - sinfo  = all_singers[name:singer] || {}
            %tr
              %td.small
                - if avatar = sinfo[:avatar]
                  %a(href="https://www.smule.com/#{singer}" target='smule' title="#{singer} on Smule")
                    %img.uavatar(src=avatar height=30 width=30)
                - if sinfo[:following]
                  %i.fa.fa-heart
                - else
                  %i.fa.fa-heart.invisible
                %span.small= i_join[singer]
                - if sinfo[:follower]
                  %i.fa.fa-running
                - else
                  %i.fa.fa-running.invisible
                %span.small= join_me[singer]
                %br/
                - href = "https://sing.salon/insights/?user=#{singer}"
                %a(href=href target='sing_salon' title='Sing Salon')
                  %i.fa.fa-hotel
                - href = "/smulelist/#{user}?singer=#{singer}"
                %a.small(href=href)= singer

                
              %td.dt-right.small
                = stats[:count]
              %td.dt-right.small= stats[:listens]
              %td.dt-right.small= stats[:loves]

- content_for :javascript do
  :javascript
    $(function() {
      $('#main_table').dataTable({
        "order": [[ 5, "desc" ]],
        "pageLength": 100
      });
      $('#singer_table').DataTable({
        "order": [[ 1, "desc" ]],
        "pageLength": 100
      });
    });
    function smdelete(url, title) {
      if (confirm ("OK to delete " + title)) {
        jQuery.ajax(url);
      }
      return false;
    };

