:css
  audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
  }
  audio {
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    transition:all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow:  2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius:7px 7px 7px 7px ;
    -webkit-border-radius:7px 7px 7px 7px ;
    border-radius:7px 7px 7px 7px ;
  }

- instrument = uperf_info[:instrument] || []
%h2= song_info[0][:_title]
%ul.list-inline
  - song_info.each do |r|
    %li.list-inline-item
      - if link = r[:link]
        %a(href=link target='playsong')= "#{r[:artist]} (#{r[:key]})"
      - else
        = "#{r[:artist]} (#{r[:key]})"
%form(action="/song-style" method="post")
  %input(type='hidden' name='user' value=user)
  %input(type='hidden' name='song_id' value=song_id)
  %input(type='hidden' name='song_name' value=song_name)
  .form-group
    %label(for='instrument') Instrument(s)
    %input.form-control#instrument(type='text' name='instrument' value="#{instrument}")
  .form-group
    %label(for='key') Key
    %input.form-control#key(type='text' name='key' value="#{uperf_info[:key]}")
  .form-group
    %label(for='intro') Other Notes (Intro/Out/Solo)
    %textarea.form-control#intro(name='intro' rows=5)
      = uperf_info[:intro]
  .pull-right
    %button.btn.btn-sm.btn-primary(type="submit" name="Update" value=true) Update

- %w(intro p0 p1 solo out).each do |segment|
  - sfile = "audio/#{user}/#{segment}-#{song_name}.mp3"
  - next unless test(?f, sfile)
  %audio(controls loop)
    - spath = "/#{sfile}"
    %source(src=spath)
